<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<br/>

<div id="main" role="main"> 
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    {% if page.bigtitle %}
      <h3>Chenglong (Stanley) Wang</h3>
    {% endif %}
    <div id="about">
    <h2>About me</h2>
      <p> 
        I'm Chenglong (Stanley) Wang, a senior undergraduate in the school of EECS, Peking University. 
        I'm also working as a research assistant in Software Engineering Institute in programming language.
      </p>
    </div>
    <div id="experiences">
      <h2>Experiences</h2>
      <ul>
        <li>
          <div class="position">B.S. Candidate (09/2011 - expected 07/2015)</div>
          <div class="location">School of Electronics Engineering and Computer Science, Peking University</div>
        </li>
        <li>
          <div class="position">Research Assistant (03/2014 - present)</div>
          <div class="location">Software Engineering Institute, Peking University</div>
          <div class="advisor"> Advisor: <a href="http://sei.pku.edu.cn/~xiongyf04/">Yingfei Xiong</a>, <a class="my_ref" href="http://research.nii.ac.jp/~hu/">Zhenjiang Hu</a></div>
        </li>
        <li>
          <div class="position">Research Intern (06/2014 - 09/2014)</div>
          <div class="location">Computer Science Department, Carnegie Mellon University</div>
          <div class="advisor"> Advisor: <a href="http://www.cs.cmu.edu/~aldrich/index.html">Jonathan Aldrich</a></div>
        </li>
      </ul>
    </div><!-- experience -->
    <div id="research">
      <h2>Research</h2>
      <p>
        My main interest is in programming language, especially type theory, domain-specific language and program manipulation. Besides, I'm also interested in software engineering and visualization.
      </p>
      <p>
        I love formal reasoning and proving things: clear rules and beautiful theorems are my favorite. :-)  My research projects are available at <a href="/research/">my research page</a>.
      </p>
    </div><!-- research -->
    <div id="personal">
      <h2>Personal</h2>
       "So long as you retain your spirit of exploration, surely you shall find your way out. This I believe." &nbsp;&nbsp;--- Map system (From the game <a href="http://www.cavestory.org/">Cave Story</a>)
      <ul>
        <li>Piano player: "I am a general. My soldiers are the keys and I have to command them."</li>
        <li>Drama enthusiast: "Dreams and anguish bring us together."</li>
        <li>Roller coaster lover: More speeeeeeeeeeeeed!!</li>
        <li>Badminton player: not so good as <a href="http://www.winnieliu.org">Zipeng (my roommate)</a> :-( </li>
      </ul>
    </div><!-- personal -->
    <div id="links">
      <h2>Links</h2>
      "I'm just another link in the chain."
      <ul>
        <li><a href="http://www.cs.cmu.edu/~comar">Cyrus Omar</a>: A good man, helps me a lot with my research in CMU.</li>
        <li><a href="http://www.winnieliu.org">Zipeng Liu</a>: My roommate, plays StarCraft II with me.</li>
      </ul>
    </div>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
